.root
    display: flex
    column-gap: 14px

.info
    display: flex
    flex-direction: column
    row-gap: 7px

.title
    font-family: UbuntuMedium
    color: #022959
    font-size: 16px
    line-height: 18px

.price
    color: #9699AA
    font-size: 14px
    line-height: 20px
