@font-face {
  font-family: UbuntuBold;
  src: local('Ubuntu-Bold'),
    url(./assets/fonts/Ubuntu-Bold.woff) format('woff'),
    url(./assets/fonts/Ubuntu-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: UbuntuMedium;
  src: local('Ubuntu-Medium'),
    url(./assets/fonts/Ubuntu-Medium.woff) format('woff'),
    url(./assets/fonts/Ubuntu-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: UbuntuRegular;
  src: local('Ubuntu-Regular'),
    url(./assets/fonts/Ubuntu-Regular.woff) format('woff'),
    url(./assets/fonts/Ubuntu-Regular.woff2) format('woff2');
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: UbuntuRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, p, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}